<%= render 'shared/banner' %>

<% if current_user.role == "medical" %>
  <%= render 'shared/navbar_medical' %>
<% elsif current_user.role == "owner" %>
  <%= render 'shared/navbar_owner' %>
<% end %>

<h2>Modifier <%= resource_name.to_s.humanize %></h2>

<% if current_user.role == "medical" %>
  <%= link_to "SOS", pages_sos_mailer_path, class: "nav-link text-danger font-weight-bold" %>
<% end %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%# A mon avis dans le profil on modifie que nos infos perso %>
    <%= f.input :password,
                hint: "Laisser le champ vide si vous ne souhaitez pas changer de mot de passe",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :first_name,
                label: false,
                placeholder: "Prénom" %>
    <%= f.input :last_name,
                label: false,
                placeholder: "Nom" %>
    <%= f.input :phone,
                label: false,
                placeholder: "Téléphone" %>
    <% if current_user.role == 'medical' %>
      <%= f.input_field :role,
                  collection: [["Personnel médical", "medical"],["Propriétaire", "owner"]],
                  label_method: :first,
                  value_method: :last,
                  as: :radio_buttons,
                  checked: ["Personnel médical", "medical"],
                  :item_wrapper_class => 'inline' %>
    <% elsif current_user.role == 'owner' %>
      <%= f.input_field :role,
                  collection: [["Personnel médical", "medical"],["Propriétaire", "owner"]],
                  label_method: :first,
                  value_method: :last,
                  as: :radio_buttons,
                  checked: ["Propriétaire", "owner"],
                  :item_wrapper_class => 'inline' %>
    <% end %>

    <p>Ajouter une pièce d'identité</p>
    <%= f.label :identity_file do %>
      <%= f.file_field :identity_file %>
      <%= f.hidden_field :identity_file_cache %>
    <% end %>

    <p>Ajouter un justificatif</p>
    <%= f.label :proof do %>
      <%= f.file_field :proof %>
      <%= f.hidden_field :proof_cache %>
    <% end %>


  </div>
  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr?" }, method: :delete %></p>

<%= link_to "Retour", :back %>
