<h2>Enregistrement</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                label: false,
                placeholder: "Email",
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                label: false,
                placeholder: "Mot de passe",
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                label: false,
                placeholder: "Confirmer le mot de passe",
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :first_name,
                label: false,
                placeholder: "Prénom" %>
    <%= f.input :last_name,
                label: false,
                placeholder: "Nom" %>
    <%= f.input :phone,
                label: false,
                placeholder: "Numéro de téléphone" %>
                <h3>Quel type d'utilisateur êtes-vous?</h3>
    <%= f.input_field :role,
                collection: [["Personnel médical", "medical"],["Propriétaire", "owner"]],
                label_method: :first,
                value_method: :last,
                as: :radio_buttons,
                checked: :none,
                :item_wrapper_class => 'inline' %>

    <%= f.input :rgpd %>

    <%#= f.input_field :role, as: :check_boxes, label: "Êtes-vous propriétaire?", item_wrapper_class: 'inline', checked_value: 'owner', unchecked_value: 'medical' %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "S'enregistrer" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
