<%= render 'shared/banner' %>

<%= render 'shared/navbar_user' %>

<div class="container pt-4 pb-4 mt-4 mb-4">
  <h1 class="mt-4 pt-4 mb-4 pb-4">Editer un logement</h1>

<%= simple_form_for @flat do |f| %>


  <div class="form-inputs">
    <%= f.input :address, :label => "Adresse" %>
    <%= f.input :flat_type, :label => "Type du logement",  collection: ["Studio", "T1", "T2", "T3", "T4"]  %>
    <%= f.input :description, :label => "Description" %>
    <%= f.input :accessibility_pmr, :label => "Accessibilité PMR" %>
    <%= f.file_field :photos, multiple: true %>
  </div>

   <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

</div>


<div class="margintop"> </div>
