<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row ">
            <div class="col-md">
                <div class="ftco-footer-widget mb">
                    <p> &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> Les Logements Solidaires</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-6">
                        <li><a href="https://www.malt.fr/"><img class="mb-3" src="<%= image_url('malt_logo.svg')%>" alt="" width="80" ></a></li>
                        <li><a href="https://www.lewagon.com/fr"><img class="mb-3" src="<%= image_url('le-wagon-color.png')%>" alt="" width="80" ></a></li>
                        <li><a href="https://djs-avocats.com/"><img class="mb-3" src="<%= image_url('djs.png')%>" alt="" width="80" ></a></li>
                        <li><a href="https://djs-avocats.com/"><img class="mb-3" src="<%= image_url('djs.png')%>" alt="" width="80" ></a></li>
                    </ul>
                    <p>AXA soutient pleinement l’initiative de Logements Solidaires pour faire face à la crise sanitaire actuelle.
                    <p>Les personnes déclarant le prêt d’un logement depuis la plateforme Logements Solidaires bénéficient gratuitement :</p>
                    <p>- d’une garantie jusqu’à 50 000 € dans les cas où l’emprunteur causerait un dommage à l’immeuble ou aux biens qu’il contient, et ne serait pas couvert par une assurance personnelle ;</p>
                    <p>- d’une assistance juridique à la résolution amiable de tout litige pouvant survenir avec l’emprunteur.</p>
                </div>
            </div>

            <div class="col-md">
            </div>

            <div class="col-md">
                <ul class="list-unstyled text alignend icon-footer">
                    <li><span><a href="https://www.facebook.com/leslogementssolidaires/?__tn__=%2Cd%2CP-R&eid=ARCWzVQLWgKhlknBFf9LyyvzKNFQ4Bb5RXgUJcNPvIV2GKluuGJyDeXxaaDZAevPukfQ5J2XjoqlMBU9" class="fab fa-facebook" ></a></span></li>
                </ul>
                <ul class="list-unstyled text alignend">
                    <li>
                        <%= link_to "Qui sommes nous ?", pages_about_us_path, class: 'text' %>
                    </li>
                    <li>
                        <%= link_to "Nos partenaires", pages_partners_path, class: 'text' %>
                    </li>
                    <li>
                        <%= link_to "Mentions légales", pages_legal_notice_path, class: 'text' %>
                    </li>
                    <li>
                        <%= link_to "Politique de confidentialité", pages_privacy_policy_path, class: 'text' %>
                    </li>
                    <a href='mailto:solidarite.logements@gmail.com'>Contact</a>
                </ul>
                <p style="color:#ffb400;text-align:right;"><a href="mailto:solidarite.logements@gmail.com" target="_blank" style="color:#ffb400;" > Mail : Service Informatique</a></p>
            </div>
        </div>
    </div>



</footer>
