<%= render 'shared/banner' %>

<div class="container blogMenu" style="margin-top: 25px;">
<div class="dashboardLink">
    <ul class="nav justify-content-center" >
      <li class="nav-item">
        <%= link_to "Recherche de logements", dashboard_medical_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Demandes", medical_pending_requests_path, class: "activeLink" %>
      </li>
      <li class="nav-item">
        <%= link_to "Mes réservations", medical_validated_rentals_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Aide et documentation", pages_medical_doc_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Mon profil", edit_user_registration_path %>
      </li>
    </ul>
  </div>
</div>

<% @rentals.each do |rental| %>

  <p> <%= rental.flat.flat_type %> </p>

  <p> <%= rental.flat.description %> </p>

  <%= link_to 'Annuler la demande',  rental_path(rental), method: :delete %>

<% end %>
