<%= render 'shared/banner' %>

<%= render 'shared/navbar_medical' %>


<div class="container-fluid">
  <div class="col-12">
    <div class="row cardRow">
      <% @rentals.each do |rental| %>
      <div class="cardAppart ">
        <div class="row mb-3 padding1">
          <div class="col-md-4 themed-grid-col">
            <div class="col-auto d-none d-lg-block m-4">
              <img src="https://picsum.photos/200" width="250"  alt="">
            </div>
          </div>
          <div class="col-md-4 themed-grid-col">
            <div class="row">
              <div class="col-md-10 themed-grid-col mt-4">
                <h6 class="mb-1 type"> Type : <span class="grey"> <%= rental.flat.flat_type %></span></h6>
                <br>
                <h6 class="mb-4 type"> Adresse :<span class="grey"> <%= rental.flat.address %></span></h6>
                <h6 class="mb-4 type"> Du : <span class="grey"> <%= rental.start_date %></span>&nbsp; Au : <span class="grey"> <%= rental.end_date ? rental.end_date : "Non déterminé" %></span></h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 themed-grid-col mt-4">
            <h6 class="mb-4 type"> Description :</h6>
            <p> <%= rental.flat.description %></p>
          </div>
        </div>
        <div class="col-12" style="text-align: end;">
          <h5 class="mb-4 type m-4">État: en attente</h5>
        </div>
        <%= link_to 'Annuler la demande',  rental_path(rental), method: :delete %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="margintop"> </div>
