<%= render 'shared/banner' %>

<%= render 'shared/navbar_user' %>


<div class="container" style="margin-top: 100px;">
  <div class="col-12 marginleft ">
    <h4>EN COURS</h4>
  <% if @current_rentals.empty? %>
    <br>
    <h6 class="mb-4 type1">Pas de réservation en cours.</h6>
  <% end %>
  </div>
</div>



<% @current_rentals.each do |rental| %>
<section>
  <div class="container marketing color-back" style="margin-top:8rem;">
    <div class="row d-flex">
      <div class="col-md-12 col-lg-4 pl-lg-5 py-5">
        <div id="demo<%= rental.id %>" class="carousel slide pointer-event" data-ride="carousel">


          <!-- Carrousel -->
          <div class="carousel-inner">
            <% if rental.flat.photos.present? %>
            <% rental.flat.photos.each_with_index do |photo, i| %>
              <% if i==0 %>
                <div class="carousel-item active">
              <% else %>
                <div class="carousel-item">
              <% end %>
                <div style="background-image:url('<%= photo.url %>');" class="d-block  image-cara"></div>
                <div class="carousel-caption d-none d-md-block text-dark">
                </div>
              </div>
            <% end %>
            <% end %>



            <!-- Contrôles -->
            <a class="carousel-control-prev" href="#demo<%= rental.id %>" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#demo<%= rental.id %>" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Suivant</span>
            </a>
          </div>

        </div>



      </div>
      <div class="col-md-6 col-lg-4 pl-lg-5 py-4">
        <div class="py-md-5">
          <div class="row justify-content-start pb-3">
            <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
              <h6 class="mb-1 type"> Type : <span class="grey"> <%= rental.flat.flat_type %></span></h6>
              <h6 class="mb-1 type"> Accessible PMR : <span class="grey ml-3"> <%= rental.flat.accessibility_pmr ? 'Oui' : 'Non' %></span></h6>
              <br>
              <h6 class="mb-4 type"> Adresse : <span class="grey"> <br> <%= rental.flat.address %></span></h6>
              <h6 class="mb-4 type"> Du : <span class="grey"> <%= rental.start_date.strftime("%d/%m/%Y") %></span>&nbsp; Au : <span class="grey"> <%= rental.end_date ? rental.end_date.strftime("%d/%m/%Y") : "n. d." %></span></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 pl-lg-5 py-4">
        <div class="py-md-5">
          <div class="row justify-content-start pb-3">
            <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
              <h6 class="mb-4 type"> Description : </h6>
              <p> <%= rental.flat.description %></p>
              <br>
              <h6 class="mb-4 type"> Propriétaire : <span class="grey"> <%= rental.flat.user.first_name + " " + rental.flat.user.last_name %> </span></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>






<div class="container" style="margin-top: 100px;">
  <div class="col-12 marginleft ">
    <h4>À VENIR</h4>
    <% if @future_rentals.empty? %>
      <br>
      <h6 class="mb-4 type1">Pas de réservation à venir.</h6>
    <% end %>
    </div>
  </div>
</div>

<% @future_rentals.each do |rental| %>
<section>
  <div class="container marketing color-back" style="margin-top:8rem;">
    <div class="row d-flex">
      <div class="col-md-12 col-lg-4 pl-lg-5 py-5">
        <div id="demo<%= rental.id %>" class="carousel slide pointer-event" data-ride="carousel">


          <!-- Carrousel -->
          <div class="carousel-inner">
            <% if rental.flat.photos.present? %>
            <% rental.flat.photos.each_with_index do |photo, i| %>
              <% if i==0 %>
                <div class="carousel-item active">
              <% else %>
                <div class="carousel-item">
              <% end %>
                <div style="background-image:url('<%= photo.url %>');" class="d-block  image-cara"></div>
                <div class="carousel-caption d-none d-md-block text-dark">
                </div>
              </div>
            <% end %>
            <% end %>

            <!-- Contrôles -->
            <a class="carousel-control-prev" href="#demo<%= rental.id %>" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#demo<%= rental.id %>" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Suivant</span>
            </a>
          </div>

        </div>



      </div>
      <div class="col-md-6 col-lg-4 pl-lg-5 py-4">
        <div class="py-md-5">
          <div class="row justify-content-start pb-3">
            <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
              <h6 class="mb-1 type"> Type : <span class="grey"> <%= rental.flat.flat_type %></span></h6>
              <h6 class="mb-1 type"> Accessible PMR : <span class="grey ml-3"> <%= rental.flat.accessibility_pmr ? 'Oui' : 'Non' %></span></h6>
              <br>
              <h6 class="mb-4 type"> Adresse : <span class="grey"> <br> <%= rental.flat.address %></span></h6>
              <h6 class="mb-4 type"> Du : <span class="grey"> <%= rental.start_date.strftime("%d/%m/%Y") %></span>&nbsp; Au : <span class="grey"> <%= rental.end_date ? rental.end_date.strftime("%d/%m/%Y") : "n. d." %></span></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 pl-lg-5 py-4">
        <div class="py-md-5">
          <div class="row justify-content-start pb-3">
            <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
              <h6 class="mb-4 type"> Description : </h6>
              <p> <%= rental.flat.description %></p>
              <br>
              <h6 class="mb-4 type"> Propriétaire : <span class="grey"> <%= rental.flat.user.first_name + " " + rental.flat.user.last_name %> </span></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>


<div class="margintop"> </div>
