<%= render 'shared/banner' %>

<div class="container blogMenu" style="margin-top: 25px;">
  <div class="dashboardLink">
    <ul class="nav justify-content-center" >
      <li class="nav-item">
        <%= link_to "Mes logements", dashboard_owner_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Réservations", owner_validated_rentals_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Demandes", owner_pending_requests_path, class: "activeLink" %>
      </li>
      <li class="nav-item">
        <%= link_to "Aide et documentation", pages_owner_doc_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Mon profil", edit_user_registration_path %>
      </li>
    </ul>
  </div>
</div>


<div class="container-fluid">
  <div class="col-12">
    <div class="row cardRow">
      <% @rentals.each do |rental| %>
      <div class="cardAppart ">
        <div class="row mb-3 padding1">
          <div class="col-md-4 themed-grid-col">
            <div class="col-auto d-none d-lg-block m-4">
              <img src="https://picsum.photos/200" width="250"  alt="">
            </div>
          </div>
          <div class="col-md-4 themed-grid-col">
            <div class="row">
              <div class="col-md-10 themed-grid-col mt-4">
                <h6 class="mb-1 type"> Type : <span class="grey"> <%= rental.flat.flat_type %></span></h6>
                <br>
                <h6 class="mb-4 type"> Adresse :<span class="grey"> <%= rental.flat.address %></span></h6>

              </div>
            </div>
          </div>
          <div class="col-md-4 themed-grid-col mt-4">
            <h6 class="mb-1 type"> Demandeur : <%= rental.user.first_name + " " + rental.user.last_name %></h6>
            <br>
            <h6 class="mb-4 type"> Du : <span class="grey"> <%= rental.start_date %></span>&nbsp;&nbsp;  Au : <span class="grey"> <%= rental.end_date ? rental.end_date : "Non déterminé" %></span></h6>
            <%= link_to 'Accepter', rental_validate_path(rental), method: :patch, class: "btn btn-success m-2 py-3 px-4 radius"  %>
            <%= link_to 'Décliner', rental_refuse_path(rental), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger m-2 py-3 px-4 radius" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="margintop"> </div>


