<%= render 'shared/banner' %>

<div class="container blogMenu" style="margin-top: 25px;">
  <div class="dashboardLink">
      <ul class="nav justify-content-center" >
        <li class="nav-item">
          <%= link_to "Mes logements", dashboard_owner_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Réservations", owner_validated_rentals_path, class: "activeLink" %>
        </li>
        <li class="nav-item">
          <%= link_to "Demandes", owner_pending_requests_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Aide et documentation", pages_owner_doc_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Mon profil", edit_user_registration_path %>
        </li>
      </ul>
    </div>
</div>

<h2> En cours </h2>

<% @current_rentals.each do |rental| %>

  <p> <%= rental.flat.flat_type %> </p>

  <p> <%= rental.flat.description %> </p>

  <p> <%= rental.user.last_name %> </p>

  <% if rental.user.proof.url.present? %>
    <p>justificatif du demandeur</p>
    <%= link_to 'Télécharger le justificatif du demandeur',  download_proof_rental_path(rental) %>
  <% end %>

<% end %>


<h2> A venir </h2>

<% @future_rentals.each do |rental| %>

  <p> <%= rental.flat.flat_type %> </p>

  <p> <%= rental.flat.description %> </p>

  <p> <%= rental.user.last_name %> </p>

  <% if rental.user.proof.url.present? %>
    <p>justificatif du demandeur</p>
    <%= link_to 'Télécharger le justificatif du demandeur',  download_proof_rental_path(rental) %>
  <% end %>

<% end %>
