<%= render 'shared/banner' %>

<%= render 'shared/navbar_user' %>


<% if @rentals.empty? %>
<div class="container" style="margin-top: 100px;">
  <div class="col-12 marginleft ">
    <h6 class="mb-4 type1">Pas de demande en cours.</h6>
  </div>
</div>
<% end %>

<% @rentals.each do |rental| %>
<section>
  <div class="container marketing color-back" style="margin-top:8rem;">

    <div class="row d-flex">
      <div class="col-md-12 col-lg-4 pl-lg-5 py-5">
        <div id="demo<%= rental.id %>" class="carousel slide pointer-event" data-ride="carousel">


          <!-- Carrousel -->
          <div class="carousel-inner">
            <% if rental.flat.photos.present? %>
            <% rental.flat.photos.each_with_index do |photo, i| %>
              <% if i==0 %>
                <div class="carousel-item active">
              <% else %>
                <div class="carousel-item">
              <% end %>
                <div style="background-image:url('<%= photo.url %>');" class="d-block  image-cara"></div>
                <div class="carousel-caption d-none d-md-block text-dark">
                </div>
              </div>
            <% end %>
            <% end %>
            <!-- Contrôles -->
            <a class="carousel-control-prev" href="#demo<%= rental.id %>" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#demo<%= rental.id %>" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Suivant</span>
            </a>
          </div>

        </div>
      </div>
      <div class="col-md-6 col-lg-4 pl-lg-5 py-4">
        <div class="py-md-5">
          <div class="row justify-content-start pb-3">
            <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
              <h6 class="mb-1 type"> Type : <span class="grey"> <%= rental.flat.flat_type %></span></h6>
              <br>
              <h6 class="mb-4 type"> Adresse : <span class="grey"> <%= rental.flat.address %></span></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 pl-lg-5 py-4">
        <div class="py-md-5">
          <div class="row justify-content-start pb-3">
            <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
              <% justificatif = rental.user.proof.url.present? ? download_proof_rental_path(rental) : '' %>
              <h6 class="mb-1 type"> Demandeur :<button class="mb-1 type colorwar btnout" id="myBtn" onclick="modalOpen('<%= rental.user.last_name %>','<%= rental.user.first_name %>','<%= rental.user.description %>','<%= justificatif %>')"> <%= rental.user.first_name + " " + rental.user.last_name %></button></h6>
              <br>
              <h6 class="mb-4 type"> Du : <span class="grey"> <%= rental.start_date.strftime("%d/%m/%Y") %></span>&nbsp;&nbsp;  Au : <span class="grey"> <%= rental.end_date ? rental.end_date.strftime("%d/%m/%Y") : "n. d." %></span></h6>
              <%= link_to 'Accepter', rental_validate_path(rental), method: :patch, class: "btn btn-success m-2 py-3 px-4 radius"  %>
              <%= link_to 'Décliner', rental_refuse_path(rental), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger m-2 py-3 px-4 radius" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>


<div class="margintop"></div>



<!-- The Modal -->
<div id="myModal" class="modal">               <!--    ID  myModal  -->

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" id="close">&times;</span>
    </div>
    <div class="modal-body">
      <section>
        <div class="container marketing color-back">
          <div class="row d-flex">
            <div class="col-md-6 col-lg-4 pl-lg-5 ">
              <div class="py-md-5">
                <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
                    <h6 class="mb-1 type"> Nom : <span class="grey" id="modalName"></span></h6>
                    <h6 class="mb-1 type"> Prénom : <span class="grey" id="modalFirstname"></span></h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 pl-lg-5 ">
              <div class="py-md-5">
                <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
                    <h6 class="mb-4 type"> Description : </h6>
                    <p id="modalAbout"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 pl-lg-5 ">
              <div class="py-md-5">
                <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
                    <h6 class="mb-4 type">Pièce d'identité : <span class="grey">Chargée </span></h6>
                    <br>
                    <h6 class="mb-4 type"> Justificatif professionnel : <span class="grey" id="modalLinkSpan"><a id="modalLink" href=""> </a></span></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>


<div class="margintop"> </div>


