<%= render 'shared/banner' %>

    <%= render 'shared/navbar_user' %>


        <section>
            <div class="container" style="margin-top: 100px;">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div>
                            <h5 class="mb-4"><span class="text-primary">NOS PARTENAIRES</span> </h5>

                            <br>
                            <p class="lead type1"><strong>s prro plaat, esse totam tepora ipedit optio iusto expedita!</strong>
                            </p>
                            <br>
                            <p class="lead type2"> Page Partenaires en cours de construction</p>
                            <p class="lead type2"> Responsable de publication : Lorenzo Charles Sbordone</p>
                            <br>
                            <br>
                            <p class="lead type1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci recusandae voluptatem ea rem reiciendis, dicta, repellat delectus asperiores deleniti quos similique ipsam, numquam quis nostrum repudiandae vitae eos, impedit
                                ab.
                            </p>
                            <p class="lead type2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque consequuntur impedit, ut aperiam laboriosam pariatur debitis adipisci eos dolores suscipit recusandae ad libero perspiciatis doloremque quisquam provident fugiat
                                nostrum repellendus.</p>
                            <p class="lead type2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit consequuntur tempore ea inventore reiciendis voluptatem, libero nesciunt impedit similique, animi distinctio, velit, accusamus illo recusandae possimus
                                ducimus consequatur saepe.</p>
                            <p class="lead type2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi nihil tenetur nobis vitae sequi quasi magnam illum quisquam sapiente quas. Veritatis voluptatum quasi dicta nobis laborum minima temporibus aperiam rerum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <div>
          <h2>Medicals without both</h2>
          <ol>
            <% @medics_without_both.each do |medic| %>
              <li><%= medic.email %></li>
            <% end %>
          </ol>
          <h2>Medicals without proof</h2>
          <ol>
            <% @medics_without_proof_2.each do |medic| %>
              <li><%= medic.email %></li>
            <% end %>
          </ol>
          <h2>Medicals without id</h2>
          <ol>
            <% @medics_without_id_2.each do |medic| %>
              <li><%= medic.email %></li>
            <% end %>
          </ol>
        </div>

        <div class="margintop"> </div>
