<%= render 'shared/banner' %>

    <%= render 'shared/navbar_user' %>


        <section>
            <div class="container" style="margin-top: 100px;">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div>
                            <p class="lead type2"> Responsable de publication : Les Logements Solidaires</p>
                            <br>
                            <h5 class="mb-4"><span class="text-primary">NOS PARTENAIRES</span> </h5>
                            <br>
                            <br>
                            <br>
                            <p class="lead type2"> <a href="https://www.axa.fr/"><img class="mb-3" src="<%= image_url('Axa.png')%>" alt="" width="90" ></a></p>
                            <p class="lead type2"><strong>AXA soutient pleinement l’initiative de Logements Solidaires pour faire face à la crise sanitaire actuelle.</strong></p>
                            <p class="lead type2"> <a href="https://djs-avocats.com/"><img class="mb-4" src="<%= image_url('djs.png')%>" alt="" width="150" ></p>
                            <p class="lead type2"><strong>DJS Avocats a rédigé "pro-bono" pour la'association les mentions légales et la politique de confidentialité. Ils nous aident dans les démarches juridiqes</strong></p>
                            <p class="lead type2"> <a href="https://www.malt.fr/"><img class="mb-4" src="<%= image_url('malt_logo.svg')%>" alt="" width="150" ></a></p>
                            <p class="lead type2"><strong>Malt nous a offert un compte entreprise afin de pouvoir contacter le maximum de développeur se déclarant #READYTOHELP pour coder ce site</strong></p>
                            <p class="lead type2"> <a href="https://www.lewagon.com/fr"><img class="mb-4" src="<%= image_url('le-wagon-color.png')%>" alt="" width="150" ></a></p>
                            <p class="lead type2"><strong>Tous les développeurs pour le back-end viennent de la formation en bootcamp du Wagon Framce et Canada en Ruby on Rails</strong></p>
                            <br>
                            <h5 class="mb-4"><span class="text-primary">LISTE DU STACK INFORMATIQUE</span> </h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<!-- Lister les utilisateurs "medics" qui n'ont pas uploadés leurs documents -->
<!--
        <div>
          <h2>Medicals without both</h2>
          <ol>
            <% @medics_without_both.each do |medic| %>
              <li><%= medic.email %></li>
            <% end %>
          </ol>
          <h2>Medicals without proof</h2>
          <ol>
            <% @medics_without_proof_2.each do |medic| %>
              <li><%= medic.email %></li>
            <% end %>
          </ol>
          <h2>Medicals without id</h2>
          <ol>
            <% @medics_without_id_2.each do |medic| %>
              <li><%= medic.email %></li>
            <% end %>
          </ol>
        </div>
-->
<!-- Lister les utilisateurs "medics" qui n'ont pas uploadés leurs documents END -->
        <div class="margintop"> </div>
