<h2>Bienvenue sur ton profil <%= current_user.first_name  %></h2>

<h3>Voici tes infos:</h3>
<ul>
<li>Prénom: <%= current_user.first_name %></li>
<li>Nom: <%= current_user.last_name%></li>
<li>Email: <%= current_user.email%></li>
<li>Téléphone: <%= current_user.phone%></li>
<li>Tu es un : <%= current_user.role%></li>

</ul>

<%= link_to "Modifier mes infos", edit_user_registration_path, class: "btn btn-primary" %>