<%= render 'shared/banner' %>

<h1>Coucou</h1>
<% @geo.each do |flat| %>
<%= flat.latitude %>
<% end %>

<div class="container blogMenu" style="margin-top: 25px;">
  <div class="dashboardLink">
      <ul class="nav justify-content-center" >
        <li class="nav-item">
          <%= link_to "Recherche de logements", dashboard_medical_path, class: "activeLink" %>
        </li>
        <li class="nav-item">
          <%= link_to "Demandes", medical_pending_requests_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Mes réservations", medical_validated_rentals_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Aide et documentation", pages_medical_doc_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Mon profil", edit_user_registration_path %>
        </li>
      </ul>
    </div>
</div>


<h1>Medical</h1>

<div class="container">

  <%= form_tag dashboard_medical_path, method: :get do %>
    <label for="start">De:</label>
    <%= date_field_tag :start, params[:start], id: "start", required: true, value: Date.tomorrow %>
    <label for="end">A:</label>
    <%= date_field_tag :end, params[:end], id: "end", value: "" %>
    <%= text_field_tag :query,
      params[:query],
      id: 'SearchBar',
      class: "form-control flat-search",
      placeholder: "Recherchez la ville de votre Hopital",
      required: true
    %>
    <%= submit_tag "Rechercher", class: "btn btn-primary" %>
  <% end %>
  <div class="header">
    <h1>Voici la liste des appartements disponibles :</h1>
  </div>
  <div class="flat-container d-flex">
    <div class="flat-list">
      <% @flats.each do |flat| %>
        <div class="card">
          <%= flat.description %>
          <%= flat.flat_type %>
          <%= flat.address %>
        </div>
      <% end %>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers=<%= @markers.to_json %>
      >
    </div>
  </div>

<h2>Logements:</h2>
<% @flats.each do |flat| %>
  <div class="card">
    <%= flat.description %>
    <%= flat.flat_type %>
    <%= flat.address %>
    <%= link_to "Envoyer une demande", flat_rentals_path(flat, rental: {user_id: current_user.id, flat_id: flat.id, start_date: @start_date, end_date: @end_date }), method: :post %>
  </div>
<% end %>

</div>
