<h1>Medical</h1>
<%= current_user.role %>
<% if current_user.identity_file.url.present? %>
  <%= image_tag current_user.identity_file.url, alt: "alttext" %>
<% end %>

<%= link_to 'Propriétaire?', dashboards_owner_path, class: 'btn btn-primary' %>

<div class="container">
  <div class="header">
    <h1>Voici la liste des appartements disponibles :</h1>
  </div>
  <div class="flat-container d-flex">
    <div class="flat-list">
      <% @flats.each do |flat| %>
        <div class="card">
          <%= flat.description %>
          <%= flat.flat_type %>
          <%= flat.address %>
        </div>
      <% end %>
    </div>
    <div class="hospital-container">

    <% @hospitals.each do |hospital| %>
      <div class="card">
        <%= hospital.name %>
        <%= hospital.address %>
      </div>

    <% end %>

  </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-markersHosp="<%= @markersHosp.to_json %>" >
    </div>
  </div>



</div>
