<%= render 'shared/banner' %>


<%= render 'shared/navbar_user' %>





<div class="container color-back" style="margin-top:8rem;">
  <div class="col-12">
    <div class="row cardRow">
      <div class="cardAppart">
        <%= form_tag dashboard_medical_path, method: :get do %>
        <div class="row mb-4 padding1 p-5">
          <div class="col-md-6 themed-grid-col marginleft">
            <div class="row ">
             <div class="col-md-6 themed-grid-col formborder">
              <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">De</label>
                <div class="col-10">
                  <% if @start_date %>
                    <% default_start_date = @start_date %>
                  <% else %>
                    <% default_start_date = Date.tomorrow %>
                  <% end %>
                  <%= date_field_tag :start, params[:start], id: "start", required: true, value: default_start_date, class:"form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-6 themed-grid-col formborder">
              <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">À</label>
                <div class="col-10">
                  <% if @end_date %>
                    <% default_end_date = @end_date %>
                  <% else %>
                    <% default_end_date = "" %>
                  <% end %>
                  <%= date_field_tag :end, params[:end], id: "end", value: default_end_date, class:"form-control"  %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 themed-grid-col formborder">
              <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Où</label>
                <div class="col-10">
                  <%= text_field_tag :query,
                  params[:query],
                  id: 'SearchBar',
                  class: "form-control flat-search",
                    placeholder: "Recherchez votre lieu de mobilisation",
                    required: true,
                    class:"form-control mb-2 mr-sm-2"
                      %>

                  <%= hidden_field_tag :lat, params[:lat], id: 'hidden_lat' %>
                  <%= hidden_field_tag :lng, params[:lng], id: 'hidden_lng' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row margin30">
              <div class="col-md-12 themed-grid-col "><div class="form-check mb-2 mr-sm-2">
                La date de fin peut être laissée vide.
              </div>
            </div>
          </div>
          <div class="row align-items-end">
            <!-- <div class="col-md-12 themed-grid-col"> <button type="submit" class="btn btn-warning text-white m-2 ">Recherche</button></div> -->
            <%= submit_tag "Rechercher", class: "btn btn-warning text-white m-2 ", id:"submit-search" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>


<div class="container" style="margin-top: 100px;">
  <div class="col-12 marginleft mb-3">
    <h4>
      <% if @query %>
        Résultats
      <% end %>
    </h4>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <%# <% if params[:query] %>
        <div id="map" class="mr-1" style="width: 100%; height: 600px;" data-markers=<%= @markers.to_json %>>
        </div>
      <%# <% end %>
    </div>
    <% if @query %>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <% if @flats.empty? %>
          <h6 class="mb-4 type1">Pas de résultat.</h6>
        <% end %>
        <% @flats.each do |flat| %>
          <div class="row marketing color-back w-100 p-3 mb-3">
            <% if flat.photos.present? %>
              <div style="background-image:url(<%= flat.photos[0].url %>); background-size: 100% auto; background-repeat: no-repeat;" class="d-block col-4 image-cara"></div>
            <% end %>
            <div class="col-8 d-flex flex-column justify-content-between">
              <div>
                <div style="display: flex">
                  <h6 class="mb-1 mr-3 type"> Type : <span class="grey"> <%= flat.flat_type %></span></h6>
                  <h6 class="mb-1 ml-3 type" style="display: ruby"> à :<span class="grey"> <br> <%= flat.distance_to([params[:lat], params[:lng]]).round(2) %> km</span></h6>
                </div>
                <h6 class="mb-4 type"> Adresse :<span class="grey"> <br> <%= flat.address %></span></h6>
              </div>
              <div class="d-flex justify-content-end">
                <button id="myBtn" class="btn btn-outline-warning py-1 px-3 radius"
                        onclick="modalMap('<%= flat.flat_type %>',
                                          '<%= flat.accessibility_pmr %>',
                                          '<%= flat.address %>',
                                          '<%= flat.photos_urls %>',
                                          '<%= j flat.description %>',
                                          '<%= @start_date.strftime("%d/%m/%Y") %>',
                                          '<%= @end_date ? @end_date.strftime("%d/%m/%Y") : @end_date %>',
                                          '<%= flat_rentals_path(flat, rental: {user_id: current_user.id, flat_id: flat.id, start_date: @start_date, end_date: @end_date }) %>')" >
                  Détail et demande
                </button>
              </div>
          	</div>
					</div>
        <% end %> <%# @flats.each do |flat| %>
			</div>
    <% end %> <%# if @query %>
  </div>
</div>



<% if @query %>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" id="close">&times;</span>

    </div>
    <div class="modal-body">
      <div>
        <div class="col-auto d-none d-lg-block m-4" >
          <div class="container">
            <div id="demo" class="carousel slide" data-ride="carousel" >

              <!-- Carrousel -->
              <div class="carousel-inner p-5" id="modalCarousel">

              </div>

              <!-- Contrôles -->
              <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
              </a>
              <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="row mb-3 padding1 m-3">
        <div class="col-md-12 col-lg-4 themed-grid-col">
          <div class="row">
            <div class="col-md-10 themed-grid-col mt-4">
              <h6 class="mb-1 type"> Type : <span class="grey" id="modalType"> </span></h6>
              <h6 class="mb-1 type"> Accessibile PMR : <span class="grey" id="modalPMR">  </span></h6>
              <br>
              <h6 class="mb-4 type"> Adresse : <span class="grey" id="modalAdresse"> </span></h6>

            </div>

          </div>
        </div>
        <div class="col-md-12 col-lg-4 themed-grid-col">
          <div class="row">
            <div class="col-md-12 themed-grid-col mt-4" >
              <h6 class="mb-4 type"> Description :</h6>
              <p class="grey" id="modalAbout"> </p>
            </div>
          </div>
        </div>
          <div class="col-md-12 col-lg-4 themed-grid-col mt-4">
            <a id="modalRequestLink" data-method="post" href="" type="submit" class="center btn btn-warning text-white m-4 ">Envoyer une demande de logement</a>
            <br>
            <h6 class="mb-4 type center"> Du : <span class="grey" id="modalDate1"> </span>&nbsp; Au : <span class="grey" id="modalDate2"> </span></h6>
          </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
<% end %>


<div class="margintop"> </div>
