<%= render 'shared/banner' %>
<%= render 'shared/navbar_user' %>


<h1>Medical</h1>

<div class="container">

  <%= form_tag dashboard_medical_path, method: :get do %>
    <label for="start">De:</label>
    <%= date_field_tag :start, params[:start], id: "start", required: true, value: Date.tomorrow %>
    <label for="end">A:</label>
    <%= date_field_tag :end, params[:end], id: "end", value: "" %>
    <%= text_field_tag :query,
      params[:query],
      id: 'SearchBar',
      class: "form-control flat-search",
      placeholder: "Recherchez la ville de votre Hopital",
      required: true
    %>
    <%= submit_tag "Rechercher",id: 'search-bar-button', class: "btn btn-primary" %>
  <% end %>
  <div class="header">
    <h1>Voici la liste des appartements disponibles :</h1>
  </div>
  <div class="flat-container d-flex">
    <div class="flat-list">
      <% @flats.each do |flat| %>
        <div class="card">
          <%= flat.description %>
          <%= flat.flat_type %>
          <%= flat.address %>
        </div>
      <% end %>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers=<%= @markers.to_json %>
      >
    </div>
  </div>


<h2>Logements:</h2>
<% @flats.each do |flat| %>
  <div class="card">
    <%= flat.description %>
    <%= flat.flat_type %>
    <%= flat.address %>
    <%= link_to "Envoyer une demande", flat_rentals_path(flat, rental: {user_id: current_user.id, flat_id: flat.id, start_date: @start_date, end_date: @end_date }), method: :post %>
  </div>
<% end %>

</div>

<div class="margintop"> </div>
